* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

h1,
h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
}

h2 {
    color: #1D7FF2;
}

.container {
    padding: 0 5%;
}

/* HEADER SECTION */
.header-section {
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
}

/* FORM SECTION */
.form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 24px;
}

.section-left-75 {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.section-left-75-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 16px;
}

.section-right-25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 32px;
}

.left-25 {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.single-station-25 {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #6B6666;
}

.single-station-25:hover {
    background-color: #D8EAFF;
}

.station-clicked,
.station-clicked:hover {
    background-color: #1D7FF2;
    color: #ffffff;
}

.right-75 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formConstructor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
}

.single-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 5px;
}

.station-img {
    width: 26px;
}

.station-text {
    font-size: 16px;
    line-height: 19px;
    background: none;
    border: solid 0px;
    padding: 0px;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    width: 100%
}


.flex-container-channels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.flex-channel {
    width: calc(33.3333% - 24px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    padding: 5px 8px;
    border-radius: 5px;
    align-items: center;
}

.flex-channel-checked {
    background-color: #D8EAFF;
}

.flex-channel input,
.flex-channel label {
    cursor: pointer;
}

/* Right Column of The Form */
.custom-div h2 {
    margin-bottom: 16px;
}

/* Time Interval UTC */
.time-interval-div {}

.date-div {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.input-time-local {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 19px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
}

.input-time-local label {
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
}

.input-time-local input {
    border: solid 0px;
    padding: 0px;
    font-size: 16px;
}

.input-time-local input:hover {
    color: #1D7FF2;
}

/* Format */
.format-div {}

.radio-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.format-radio {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 20px;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 700;
    color: #6B6666;
    font-size: 16px;
    line-height: 1em;
}

.format-radio:hover {
    background-color: #D8EAFF;
}

.format-radio input {
    display: none;
}

.format-radio label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.format-radio-clicked,
.format-radio-clicked:hover {
    background-color: #1D7FF2;
    color: #ffffff;
}

/* Elab */
.elab-div {
    margin-bottom: 16px;
}

.elab-radio {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 18px 22px;
    font-weight: 700;
    color: #6B6666;
    font-size: 16px;
    line-height: 1em;
}

.elab-radio:hover {
    background-color: #D8EAFF;
}

.elab-radio input {
    display: none;
}

.elab-radio-clicked,
.elab-radio-clicked:hover {
    background-color: #1D7FF2;
    color: #ffffff;
}

.radio-div input,
.radio-div label {
    cursor: pointer;
}

/* Button Row */
.buttons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.flex-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    padding: 21px 42px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 21px;
    line-height: 1em;
    font-weight: bold;
    cursor: pointer;
}

.flex-button img {
    width: 26px;
}

.download-button {
    background-color: #1D7FF2;
    color: #ffffff;
    border-color: #1D7FF2;
}

.download-button:hover {
    background-color: #6B6666;
    border-color: #6B6666;
}

.display-button {
    color: #1D7FF2;
    border-color: #1D7FF2;
}

.display-button:hover {
    color: #6B6666;
    border-color: #6B6666;
}