* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

h1,
h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
}

h2 {
    color: #1D7FF2;
}

.container {
    padding: 0 7%;
}

/* HEADER SECTION */
.header-section {
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
}

/* FORM SECTION */
.form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 24px;
}

.left-66 {
    width: 66.67%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.left-66-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 16px;
}

.right-25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.left-25 {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.left-25:hover {
    background-color: #D8EAFF;
}

.right-75 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formConstructor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
}

.single-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 5px;
}

.station-img {
    width: 26px;
}
.station-text {
    font-size: 16px;
    line-height: 19px;
    background: none;
    border: solid 0px;
    padding: 0px;
    font-family: inherit;
    font-weight: 700;
    color: #6B6666;
    text-align: center;
    width: 100%
}


.flex-container-channels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.flex-channel {
    width: calc(33.3333% - 24px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}